* {
    margin: 0;
    padding: 0;
    user-select: none;
}

:root {
    --backgroundColor: #008081;
    --windowColor: #c3c3c3;
    --borderColor: #d6cecb;
    --windowActiveColor: #000083;
    --windowNotctiveColor: #8e8e90;
    --buttonColor: #c0c0c0;
    --dangeonColor: #750f1d;
    --blueScreen: #0000a8;
}

html {
    font-size: 62.5%;
}

button {
    background: var(--buttonColor);
    font-family: 'Inconsolata', monospace;
    cursor: pointer;
}

body {
    background: var(--backgroundColor);
    font-family: 'Inconsolata', monospace;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.loader {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: var(--blueScreen);
    z-index: 100;
}

.loader h2 {
    color: var(--blueScreen);
    background: var(--buttonColor);
    padding: 0.3rem;
    font-size: 2.5rem;
}

.loaderText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 0 0 0;
    width: 80%;
}

.loadingLineOne,
.loadingLineThree {
    font-size: 2.3rem;
}

.loadingLineTwo {
    font-size: 2rem;
}

.loadingLineOne,
.loadingLineTwo,
.loadingLineThree {
    color: white;
    line-height: 3rem;
}

.loadingLineThree {
    margin: 5rem;
    font-weight: 600;
}

.animated1 {
    animation: loading 2s infinite;
}

.animated2 {
    animation: loading 2s 0.3s infinite;
}

.animated3 {
    animation: loading 2s 0.6s infinite;
}

@keyframes loading {
    0% {
        opacity: 0;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.opacity {
    opacity: 0;
}

nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 9rem;
    left: 0;
    justify-self: start;
}

.about,
.projects,
.contact {
    list-style: none;
    width: 5rem;
    height: 5rem;
    margin: 4rem 1rem 4rem 1rem;
    cursor: pointer;
}

.about {
    background: url(img/computer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.projects {
    background: url(img/folder.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.contact {
    background: url(img/email.png);
    background-repeat: no-repeat;
    background-size: cover;
}

section {
    position: absolute;
    display: flex;
    flex-direction: column;
    background: var(--windowColor);
    box-sizing: border-box;
    border: 0.4rem var(--borderColor) solid;
    font-size: 1.7rem;
}

.aboutSection {
    background: url(img/background.jpg);
    background-position: center;
    background-size: cover;
    width: 70%;
    height: 80%;
}

.overflow {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    max-height: 100vh;
    padding: 1rem;
}

.windowTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.2rem;
    width: 100%;
    background: var(--windowActiveColor);
    border-bottom: 0.5rem var(--windowColor) solid;
    color: white;
    cursor: pointer;
}

.notActive {
    background: var(--windowNotctiveColor);
}

.deleteButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0.5rem;
    background: #bec0bb;
    border: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    margin: 0 0.2rem 0 0;
}

.deleteButton:after,
.deleteButton:before {
    position: absolute;
    content: '';
    background: black;
    height: 1.6rem;
    width: 0.1rem;
}

.deleteButton:after {
    transform: rotate(45deg);
}

.deleteButton:before {
    transform: rotate(-45deg);
}

.url {
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    background: #c3c3c3;
    border-bottom: 0.2rem #c3c3c3 solid;
}

.inputUrl {
    margin: 0 0 0 0.5%;
    height: 100%;
    width: 100%;
    border: none;
}

.urlDiv {
    display: flex;
    align-items: center;
    width: 90%;
    height: 80%;
    border: 0.1rem solid dimgray;
    background: white;
}

.urlIcon {
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 0.5%;
}

.adress {
    margin: 0 0 0 0.5%;
}

.titleTop {
    margin: 0 0 0 1rem;
    user-select: none;
}

.home {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0 0 0.5%;
}

.title {
    width: 30rem;
    margin: 1vh auto 0 auto;
}

.content {
    display: block;
    width: 70%;
    color: red;
    font-size: 3rem;
    font-weight: 500;
    margin: 5vh auto 5vh auto;
    text-align: left;
    line-height: 3rem;
}

.projectsSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75rem;
    height: 42rem;
}

.backProject,
.nextProject {
    margin: 0 0 0 1.5rem;
    width: 15rem;
    height: 4rem;
}

.menuProjects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 98%;
}

.dangeonName,
.clockName,
.moreName {
    text-align: center;
    margin: 0 0 2rem 0;
}

.links {
    display: flex;
    justify-content: center;
}

.aboutDangeon,
.aboutClock {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 4rem;
    flex-grow: 1;
}

.aboutClock ul,
.aboutDangeon ul {
    flex-grow: 1;
}

.dangeonName {
    font-family: 'VT323', monospace;
    color: var(--dangeonColor);
    font-size: 5rem;
}

.clockName {
    font-family: 'Play', sans-serif;
    font-size: 4rem;
}

.clockImg {
    margin: 0 0 1rem 0;
}

.wrapperOne,
.wrapperTwo,
.wrapperThree {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 98%;
    min-height: 29.1rem;
    border-top: 0.2rem #ededed solid;
    border-left: 0.2rem #ededed solid;
    border-right: 0.2rem #999999 solid;
    border-bottom: 0.2rem #999999 solid;
    padding-bottom: 2rem;
}

.boild {
    font-weight: 600;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;
}

.wrapperThree .flexRow {
    flex-grow: 0;
}

.wrapperTwo .animations {
    margin: 0 0 0 2.4rem;
}

.githubLink {
    padding: 1rem;
}

.githubImg {
    height: 7rem;
}

.live,
.code {
    width: 10rem;
    height: 3rem;
    margin: 0 1rem 0 0;
}

.wrapperOne a,
.wrapperTwo a {
    text-decoration: none;
}

.contactSection {
    height: fit-content;
}

.aboutDangeon li,
.aboutClock li {
    margin: 0 0 0 2.2rem;
}

.conection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem 0 2rem 0;
}

.contactLi {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone,
.email {
    padding: 0.5rem;
    margin: 0 0 0.3rem 0;
}

.contactLiText {
    display: block;
    margin: 0 0 0 0.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    border: 0.1rem black solid;
    width: 30rem;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}

.contactFormLabel {
    margin: -4rem 0 1.5rem 0;
    background: #c3c3c3;
    text-align: center;
    width: 12rem;
}

.inputForm {
    width: 100%;
    height: 2.5rem;
    border-top: 0.2rem #999999 solid;
    border-left: 0.2rem #999999 solid;
    border-right: 0.2rem #ededed solid;
    border-left: 0.2rem #ededed solid;
}

.message {
    width: 100%;
    height: 10rem;
    resize: none;
    border-top: 0.2rem #999999 solid;
    border-left: 0.2rem #999999 solid;
    border-right: 0.2rem #ededed solid;
    border-bottom: 0.2rem #ededed solid;
}

label {
    margin: 0.5rem 0 0.5rem 0;
}

.submit {
    margin: 1rem 0 1rem 0;
    height: 3rem;
    background: #c3c3c3;
}

@media only screen and (max-width: 1025px) {
    .center {
        align-items: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(100% - 6rem);
    }

    nav {
        position: unset;
        width: 6rem;
        position: relative;
    }

    section {
        margin: 0 auto 0 auto;
        position: relative;
    }

    .aboutSection,
    .contactSection,
    .projectsSection {
        height: auto;
        max-height: 100vh;
        width: 100%;
    }

    .wrapperOne,
    .wrapperTwo,
    .wrapperThree {
        min-height: 39.5rem;
        padding-bottom: 1rem;
    }

    .animations {
        display: flex;
        justify-content: center;
    }

    .wrapperTwo .animations {
        margin: 0 0 0 0;
    }

    .aboutDangeon,
    .aboutClock {
        margin: 1rem 0 0 2rem;
        font-size: 1.5rem;
    }

    .dangeonName {
        font-size: 4rem;
    }

    .clockName {
        font-size: 3rem;
    }

    .moreName {
        font-size: 2.5rem;
    }

    .backProject,
    .nextProject {
        width: 10rem;
    }

    .live,
    .code {
        margin: 1rem 1.5rem 1rem 0;
    }

    .zombieAnimation,
    .knightAnimation {
        height: 10rem;
    }

    .clockImg {
        height: 13.5rem;
    }

    .flexRow {
        flex-direction: column;
        align-items: center;
    }

    .title {
        width: 15rem;
    }

    .content {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .form {
        width: 90%;
    }
}

@media (max-width: 350px) {
    .contactLiText {
        font-size: 1.3rem;
    }

    .wrapperOne,
    .wrapperTwo,
    .wrapperThree {
        padding-bottom: 0.8rem;
        font-size: 1rem;
    }

    .menuProjects {
        height: 4rem;
    }

    .nextProject,
    .backProject {
        height: 3rem;
    }

    .animations {
        margin: 0 0 0.3rem 0;
    }

    .aboutDangeon,
    .aboutClock {
        font-size: 1.2rem;
    }
}

.none {
    display: none;
}