@import url(reset.css);
html{
    font-size: 62.5%;
}
body{
    background: #008081;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.loader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 999;
    background: #008081;
    color: white;
    font-size: 2rem;
}
.loaderImage{
    margin: 0 0 1rem 0;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 9rem;
    left: 0;
    justify-self: start;
}
.about, .projects, .contact{
    display: block;
    width: 5rem;
    height: 5rem;
    margin: 4rem 1rem 4rem 1rem;
    cursor: pointer;
}
.about{
    background: url(img/computer.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.projects{
    background: url(img/folder.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.contact{
    background: url(img/email.png);
    background-repeat: no-repeat;
    background-size: cover;
}
section{
    display: flex;
    flex-direction: column;
    background: #c3c3c3;
    box-sizing: border-box;
    border: 0.5rem #c3c3c3 solid;
    font-size: 1.7rem;
    position: absolute;
}
.aboutSection{
    background: url(img/background.jpg);
    width: 90%;
    height: 90%;
}
.overflow{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    max-height: 100vh;
    padding: 1rem;
}
.windowTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.7rem;
    width: 100%;
    background: #000083;
    border-bottom: 0.5rem #c3c3c3 solid;
    color: white;
}
.deleteButton{
    right: 0.5rem;
    background: #bec0bb;
    border: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    margin: 0 0.5rem 0 0;
  }
.deleteButton:after, .deleteButton:before{
    content: "";
    background: black;
    height: 1.8rem;
    width: 0.2rem;
    display: inline-block;
}
.deleteButton:after{
    transform: rotate(50deg);
}
.deleteButton:before{
    transform: rotate(-50deg);
}
.url{
    display: flex;
    align-items: center;
    height: 4rem;
    width: 100%;
    background: #c3c3c3;
    border-bottom: 0.2rem #c3c3c3 solid;
}
.inputUrl{
    margin: 0 0 0 0.5%;
    height: 100%;
    width: 100%;
    border: none;
}
.urlDiv{
    display: flex;
    align-items: center;
    width: 90%;
    height: 80%;
    border: 0.1rem solid dimgray;
    background: white;
}
.urlIcon{
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 0.5%;
}
.adress{
    margin: 0 0 0 0.5%;
}
.titleTop{
    margin: 0 0 0 1rem;
}
.home{
    width: 2.5rem;
    height: 2.5rem;   
    margin: 0 0 0 0.5%;
}
.title{
    width: 25%;
    margin: 1vh auto 0 auto;
}
.content{
    display: block;
    width: 70%;
    color: red;
    font-size: 2.5rem;
    margin: 5vh auto 5vh auto;
    text-align: left;
    line-height: 3rem;
}
.projectsSection{
    width: 50%;
    height: 50%;
}
.contactSection{
    height: fit-content;
}
.conection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5rem 0 2rem 0;
}
.contactLi{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.phone, .email{
    padding: 0.5rem;
    margin: 0 0 0.3rem 0;
    background: #c1c1c1;
}
.contactLiText{
    display: block;
    margin: 0 0 0 0.5rem;
}
.form{
    display: flex;
    flex-direction: column;
    border: 0.1rem black solid;
    width: 30rem;
    padding: 3rem 1.5rem 1.5rem 1.5rem;
}
.contactFormLabel{
    margin: -4rem 0 1.5rem 0;
    background: #c3c3c3;
    text-align: center;
    width: 12rem;
}
.inputForm{
    width: 100%;
    height: 2.5rem;
    border-top: 0.2rem #999999 solid;
    border-left: 0.2rem #999999 solid;
    border-right: 0.2rem #ededed solid;
    border-left: 0.2rem #ededed solid;
}
.message{
    width: 100%;
    height: 10rem;
    resize: none;
    border-top: 0.2rem #999999 solid;
    border-left: 0.2rem #999999 solid;
    border-right: 0.2rem #ededed solid;
    border-left: 0.2rem #ededed solid;
}
label{
    margin: 0.5rem 0 0.5rem 0;
}
.submit{
    margin: 1rem 0 1rem 0;
    height: 3rem;
    background: #c3c3c3;
}
@media only screen and (max-width: 1000px) {
    .center{
        align-items: center;
    }
    nav{
        width: 6rem;
        position: relative;
    }
    section{
        margin: 0 auto 0 auto;
        position: relative;
    }
    .aboutSection{
        height: auto;
        max-height: 100vh;
        width: 100%;
    }
    .contactSection{
        height: auto;
        max-height: 100vh;
        width: 100%;
    }
    .projectsSection{
        width: 100%;
        height: 50%;
    }
    .title{
        width: 60%;
    }
    .content{
        font-size: 1.6rem;
        line-height: 2rem;
    }
    .form{
        width: 100%;
    }
  }
@media only screen and (max-width: 350px) {
    .contactLiText{
        font-size: 1.3rem;
    }
}
.none{
      display: none;
}